<div class="container mt-4">
  <h2>Daftar mahasiswa</h2>

  <!-- Loader -->
  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Data mahasiswa -->
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-4 mb-4" *ngFor="let item of mahasiswa">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.nama }}</h5>
          <p class="card-text"><strong>NPM:</strong> {{ item.npm }}</p>
          <p><strong>Jenis Kelamin:</strong>{{ item.jenis_kelamin }}</p>
          <p><strong>Asal Sekolah:</strong>{{ item.asal_sekolah }}</p>
          <p><strong>Prodi:</strong>{{ item.prodi_id.nama }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
