<div class="container my-5">
  <h2>Data Mahasiswa</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>NPM</th>
        <th>Prodi</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data Fakultas akan di-loop di sini -->
      <tr>
        <td>1</td>
        <td>Andi</td>
        <td>123456</td>
        <td>Sistem Informasi</td>
        <td>Mahasiswa Aktif</td>
        <td>
          <button class="btn btn-primary">Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
